section {
    width: 30%;
    border-color: black;
    border-width: 3px;
    border-style: double;
    padding-bottom: 30px;
    text-align: center;
}

button {
    width: 7rem;
    margin: 20px;
    height: 30px;
}