header {
    height: 200px;
    img {
        position: absolute; //Position from the parent element, on its own plane
    }
    h1,
    h3 {
        text-align: center;
    }
}

.wrapper {
    overflow: auto;
}

section {
    width: 30%;
    float: left;
    border-color: black;
    border-width: 3px;
    border-style: double;
    margin: 1%;
    padding: 5px;
    text-align: center;
}

footer {
    text-align: center;
    line-height: 1.5rem;
    padding: 20px;
    .fa {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
}