<header>
  <img src="assets\images\algorithm-splash.jpg" alt="Angular Algorithms" width="300">
  <h1>{{title}}</h1>
  <h3>{{description}}</h3>
</header>

<div class="wrapper">
  <section>
    <app-counter></app-counter>
  </section>
  <section>
    <app-string-reversal></app-string-reversal>
  </section>
</div>


<footer>
  Created by
  <strong>Nupur Maheshwari</strong>
  <br/>
  <em>&copy; Copyright 2018</em>
  <br/>
  <a href="https://www.linkedin.com/in/nupur-maheshwari/" target="_blank">
    <i class="fa fa-linkedin-square"></i>
  </a>


</footer>