header {
    height: 200px;
    img {
        position: absolute; //Position from the parent element, on its own plane
    }
    h1,
    h3 {
        text-align: center;
    }
}

.wrapper {
    overflow: auto;
}

section {
    width: 32%;
    float: left;
    border-color: black;
    border-width: 3px;
    border-style: double;
    margin: 1%;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px; // position: absolute;
    // bottom: 0;
    // left: 50%;
    // transform: translate(-50%, 0);
}