/* You can add global styles to this file, and also import other style files */

@import "~variables.scss";
* {
    box-sizing: border-box;
}

body {
    margin: 0 2%;
}

a {
    color: $PrimaryGreen;
    :hover {
        color: $DarkGreen;
    }
}

input {
    padding: .1rem .5rem;
}

button {
    width: 7rem;
    margin: 2px 15px;
    height: 30px;
}