/* You can add global styles to this file, and also import other style files */

a {
    color: #8AA055;
}

a:hover {
    /* color: #596644;
    color: #7b8e4b; */
    color: #68774f;
}

button {
    width: 7rem;
    margin: 2px 15px;
    height: 30px;
}