/* You can add global styles to this file, and also import other style files */
@import "./variables.scss";
a {
    color: $PrimaryGreen;
    :hover {
        color: $DarkGreen;
    }
}

button {
    width: 7rem;
    margin: 2px 15px;
    height: 30px;
}