@import "~variables.scss";
@media (max-width: 768px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }
    section {
        border: $DoubleBorder;
        margin: 1rem 0;
        padding: .5rem;
        text-align: center;
    }
}

@media (min-width: 769px) {
    .wrapper {
        display: flex;
        justify-content: space-between
    }
    section {
        border: $DoubleBorder;
        padding: .5rem;
        text-align: center;
        flex-basis: 32%;
    }
}