.wrapper {
    overflow: auto;
}

section {
    width: 30%;
    float: left;
    border-color: black;
    border-width: 3px;
    border-style: double;
    margin: 1%;
    padding: 5px;
    text-align: center;
}